<!DOCTYPE html>
<html lang="en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery-2.1.3.min.js') }}">\x3C/script>')</script>
<script type=text/javascript>
 
 var root = window.location.protocol + '//' + window.location.host;
</script>
<head>
  <meta charset="utf-8">
  <title>Worker_Interface</title>
  <style>
	div#content{margin-left:auto;margin-right:auto;}
	div#header {background-color:#6cf;text-align:center}
	   h1 {text-align:center}
	div#input {float:left;}

	div#table {float:left;}
	 

	div#submit{float:left;text-align:center}

	div#requester {float:left;}
	h1, h2          { font-family: 'Georgia', serif; margin: 0; }
	h1              { border-bottom: 2px solid #eee; }
	h3              { font-family: 'Georgia'; color: red;}
	 * {
		  font-family: sans-serif;
		}
		td {
		vertical-align: top;
	}
  </style>

</head>
<body onload="fillContent()">
 
<div id="content">
 <form  method="POST" id ="myForm" onsubmit="getaction(this)">
  <table style="width:100%">
	<tr>
	<td  colspan="2" width="100%">
		<div id="header">
			<h1>Please rate the following tutorial</h1>
		</div>
	</tr>
	<tr>
		<td  colspan="2"  width="100%">
		<div id="Notice"><h1>You must accept this hit to be able to work on its elements</h1></div>
		<div style = "width:600px;margin-left:auto;margin-right:auto;padding:12px;border:1px solid black"> This HIT is part of a 
		class project at Purdue Univesity by Ziheng Liu,Weichang Tang,Ahmed R.Mahmood.&nsp;Feel free to email us at 
		<a href="mailto:liu1550@purdue.edu">liu1550@purdue.edu</a> with any questions or concerns.&nbsp;In case you run into any bugs in
		our system, we will make sure that you are paid.</div>
		</td>
	</tr>
	<tr>
	 <td width=50%>
			<div >
			  <h2>Tutorial Details</h2>
			  <h3>Title</h3>
			  <label  id="titleLabel"></label>
			  <h3>Content</h3>
			  <label  id="contentLabel"></label>
			  <h3>Resource URL</h3>
			  <label  id="resourceUrlLabel"></label>
			  <h3>Comment</h3>
			  <label  id="commentLabel"></label>
			</div>
		
		
	 </td>
	 <td width="50%"  bgcolor="#F0F0F0">
		  <div id="requester">
			<h2>Tutorial Requirements</h2>
			  <h3>Requited tutorial topic</h3>
			  <label  id="requesterTutorialTopicLabel"></label><br>
			  <h3>Required tutorial formats</h3>
			  <label  id="requesterTutorialFormatsLabel"></label><br>
			   <h3>Required level of detail</h3>
			  <label  id="requesterLevelOfDetailLabel"></label><br>
			  <h3>Desired skill to be acquired</h3>
			  <label  id="desiredskillLabel"></label>
			  <h3>Already known information</h3>
			  <label  id="alreadyknowninformationLabel"></label>
			  <h3>Sample tutorial</h3>
			  <label  id="sampletutorialLabel"></label>
			  <h3>Comment</h3>
			  <label  id="requestercommentLabel"></label>
		  </div>
	 </td>
	 <tr>
		<td colspan="2"  width="100%" bgcolor="#cdf">
		<div id="submit">
           <h3>Do you think that this tutorial description on the left meets the requirement on the right?</h3>
		   </br>
           Yes
           <input type="radio" id="radiobuttonYes" name="vote" value="yes" checked="checked"/>
           </br>
           No
           <input type="radio" id="radiobuttonNo" name="vote" value="no"/></br>
           <input type="submit"  name="button" value="Submit" id ="submitButtonId" />
           </p>
		    <input type="hidden" name="assignmentId" id="assignmentId"/>
			<input type="hidden" name="hitId" id="hitId"/>
			<input type="hidden" name="workerId" id="workerId"/>
			<input type="hidden" name="turkSubmitTo" id="turkSubmitTo"/>
			<input type="hidden" name="taskId" id="taskId"/>
			<input type="hidden" name="tutorialId" id="tutorialId"/>
       </div>
		
		</td>
	</tr>
	</table>
    </form>
  </div>  
 <script>
  var urlprefix="06";
  var formAction="https://workersandbox.mturk.com/mturk/externalSubmit";
  var assignmentIdVar='ASSIGNMENT_ID_NOT_AVAILABLE';
  var hitIdVar="hitId";
  var workerIdVar="workerId";
  var turkSubmitToVar="turkSubmitTo";
  var tutorialTitle="TutorialTitle";
  var contentlabeltext="This is sample tutorial content";
  var resourceurltext="http://sample.tutorialurl.com";
  var commentlabeltext="this is a sample comments from tutuorial";
  var requesterTutorialTopic='This is a sample requester tutorial information';
  var requesterTutorialFormats='url, video, aduio';
  var requesterLevelOfDetail='Beginner';
  
  var desiredskill='sample desiredskill';
  var alreadyknowninformation='sample alreadyknowninformation';
  var sampletutuorial='sample sampletutuorial';
  var requesterComments='sample requester comments';
  
function readinputarguments(){

   formAction='{{ formsubmiturl}}';
   assignmentIdVar='{{ assignmentId}}';
   hitIdVar='{{ hitId}}';
   workerIdVar='{{ workerId}}';
   turkSubmitToVar='{{ turkSubmitTo}}';
   taskId='{{taskId}}';
   tutorialId='{{tutorialId}}'
   tutorialTitle='{{ workerTutorialTitle}}';
   contentlabeltext='{{ workerTutorialContent}}';
   resourceurltext='{{ workerTutorialResourceUrl}}';
   commentlabeltext='{{ workerTutorialComment}}';
   requesterTutorialTopic='{{ requesterTutorialTopic}}'
   requesterTutorialFormats='{{ requesterTutorialFormats}}'
   requesterLevelOfDetail='{{ requesterLevelOfDetail}}'
  
   desiredskill = '{{desiredskill}}'
   alreadyknowninformation= '{{alreadyknowninformation}}'
   sampletutuorial='{{sampletutuorial}}'
   requesterComments='{{requesterComments}}'
   
}

function getaction(form){
	
    //document.getElementById("submitButtonId").disabled = true;
	//alert(document.getElementById('radiobuttonYes').value)
	jQuery.ajax("/"+urlprefix+"/tutorialevaluating/",{
			type: "POST",
			data: $('form').serialize(),
			success: function(data) {
			//alert(data.result);
		    },
			error: function(){
			alert('error');
			$("#myform").submit();
			},
	});
  // form.action=formAction;
}

function fillContent() {
    readinputarguments();
   
   
    document.getElementById('assignmentId').value  =assignmentIdVar;
    document.getElementById('hitId').value  =hitIdVar; 
    document.getElementById('workerId').value  =workerIdVar;
    document.getElementById('turkSubmitTo').value  =turkSubmitToVar;
    document.getElementById('taskId').value  =taskId;
    document.getElementById('tutorialId').value = tutorialId
	
	document.getElementById('titleLabel').innerHTML  =tutorialTitle;
    document.getElementById('contentLabel').innerHTML  =contentlabeltext; 
    document.getElementById('resourceUrlLabel').innerHTML  =resourceurltext;
    document.getElementById('commentLabel').innerHTML  =commentlabeltext;
	
	document.getElementById('requesterTutorialTopicLabel').innerHTML  =requesterTutorialTopic; 
    document.getElementById('requesterTutorialFormatsLabel').innerHTML  =requesterTutorialFormats;
    document.getElementById('requesterLevelOfDetailLabel').innerHTML  =requesterLevelOfDetail;
	
	document.getElementById('desiredskillLabel').innerHTML  =desiredskill; 
    document.getElementById('alreadyknowninformationLabel').innerHTML  =alreadyknowninformation;
    document.getElementById('sampletutorialLabel').innerHTML  =sampletutuorial;
	document.getElementById('requestercommentLabel').innerHTML  =requesterComments;
	
	
	 
	if(assignmentIdVar == 'ASSIGNMENT_ID_NOT_AVAILABLE'){
		document.getElementById("submitButtonId").disabled = true;
		document.getElementById("radiobuttonYes").disabled = true;
		document.getElementById("radiobuttonNo").disabled = true;
	    document.getElementById("Notice").style.display = 'block';
	}
	else{
		document.getElementById("Notice").style.display = 'none';
	}

	document.getElementById("myForm").action=turkSubmitToVar+"/mturk/externalSubmit";
	
}
</script>
</body>
</html>

