<!DOCTYPE html>
<html lang="en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery-2.1.3.min.js') }}">\x3C/script>')</script>
<script type=text/javascript>
 
 var root = window.location.protocol + '//' + window.location.host;
</script>  
<head>
  <meta charset="utf-8">
  <title>Worker_Interface</title>
 <style>
 
div#content{margin-left:auto;margin-right:auto;width:900px;}
div#header {background-color:#6cf;height:40px;text-align:center}
   h1 {text-align:center}
div#input {width:500px;height:500px;;}
div#table {background-color:#fff;height:450px;}
 #input_table
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  border-spacing:20px 15px;
  height:120px;
  width:400px;
 
  
 }
 #input_table td
 {
 text-align: left;
 
 }
div#submit{text-align:center}
div#requester {float:right;background:yellow;}
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h3              { font-family: 'Georgia'; color:red;}
 * {
      font-family: sans-serif;
    }
	td {
    vertical-align: top;
}
 </style>
</head>
<body onload="fillContent()">
<form  method="POST" id ="myForm" onsubmit= "getaction(this)" >
<div id="content">
  <table style="width:100%">
	<tr>
	<td  colspan="2" width="100%">
    <div id="header">
      <h1> Find tutorials as required</h1>
    </div>
	</td>
	</tr>
	<tr>
	<td  colspan="2" width="100%">
	<div style = "width: 600px; margin-left:auto;margin-right:auto;padding:12px;border:1px solid black">
	This HIT is part of a class project at Purdue University by Ziheng Liu,Weichang Tang and Ahmed R.Mahmood.&nbsp;
	Feel free to email us at <a href="mailto:liu1550@purdue.edu">liu1550@purdue.edu</a> with any questions or concern.&nbsp;
	In case you run into any bugs in our system, we will make sure that you are paid.</div>
	<div id="Notice"><h1>You must accept this hit to be able to work on its elements</h1></div>
    </td>
	</tr>
  <tr>
	<td  colspan="1" width="50%">
    <div id="input">
        <div >
          <table >
            <tr>
            <td> <h3>Title</h3></td>
            <td><input type="text" name="title" id="titileelementid" size="40" /></td>
            </tr>
            <tr>
            <td><h3> Resource Link </h3> </td>
            <td><input type="text" name="resourcelink" id="urlId" size="40"/></td>
            </tr>
            <tr>
            <td><h3>Main content    (30 WORDS MAXIMUM)</h3></td>
            <td><textarea rows="6" cols="40" name="content" placeholder="Main content(30 WORDS MAXIMUM)" id="contentId"/></textarea></td>
            </tr>
            <tr>
            <td><h3>Comment    (30 WORDS MAXIMUM)</h3></td>
            <td><textarea rows="6" cols="40" name="comment" placeholder="Please enter your comments here (30 WORDS MAXIMUM)" id = "commentid"/></textarea></td>
            </tr>
        </table>  
        </div>
		</div>
		</td>
		<td   colspan="1" width="50%" bgcolor="#F0F0F0"> 
		<div>
			<h2>Tutorial Requirements</h2>
			  <br><h3>Requited tutorial topic</h3><br>
			  <label  id="requesterTutorialTopicLabel"></label>
			  <br><h3>Required tutorial formats</h3><br>
			  <label  id="requesterTutorialFormatsLabel"></label>
			   <br><h3>Required level of detail</h3><br>
			  <label  id="requesterLevelOfDetailLabel"></label>
			    <h3>Desired skill to be acquired</h3>
			  <label  id="desiredskillLabel"></label>
			  <h3>Already known information</h3>
			  <label  id="alreadyknowninformationLabel"></label>
			  <h3>Sample tutorial</h3>
			  <label  id="sampletutorialLabel"></label>
			  <h3>Comment</h3>
			  <label  id="requestercommentLabel"></label>
		</div>
		</td>
			<tr>
	<td  colspan="2" width="100%">
       <div id="submit">
           <input type="submit"  name="button" value="Submit" id ="submitButtonId" >
           </p>
		    <input type="hidden" name="assignmentId" id="assignmentId"/>
			<input type="hidden" name="hitId" id="hitId"/>
			<input type="hidden" name="taskId" id="taskId"/>
			<input type="hidden" name="workerId" id="workerId"/>
			<input type="hidden" name="turkSubmitTo" id="turkSubmitTo"/>
       </div>
   </td>
   </tr>
   </table>
  </div>  

      

 </form>

 <script>
  var urlprefix="06";
  var formAction="https://workersandbox.mturk.com/mturk/externalSubmit";
  var assignmentIdVar='ASSIGNMENT_ID_NOT_AVAILABLE';
  var hitIdVar="hitId";
  var workerIdVar="workerId";
  var turkSubmitToVar="turkSubmitTo";
  var requesterTutorialTopic='This is a sample requester tutorial information';
  var requesterTutorialFormats='url, video, aduio';
  var requesterLevelOfDetail='Beginner';
  var desiredskill='sample desiredskill';
  var alreadyknowninformation='sample alreadyknowninformation';
  var sampletutuorial='sample sampletutuorial';
  var requesterComments='sample requester comments';
  var taskId="";
  

function getaction(form){
    document.getElementById("submitButtonId").disabled = true;
	jQuery.ajax("/"+urlprefix+"/tutorialcollection/",{
			type: "POST",
			data: $('form').serialize(),
			success: function(data) {
		//	alert(data.result);
	     	},
			error: function(){
			alert('error');
			$("#myform").submit();
			},
	});
 //  form.action=formAction;
   
}

function readinputarguments(){
   formAction='{{ formsubmiturl}}';
   assignmentIdVar='{{ assignmentId}}';
   hitIdVar='{{ hitId}}';
   workerIdVar='{{ workerId}}';
   turkSubmitToVar='{{ turkSubmitTo}}';
   taskId='{{taskId}}';
   
   requesterTutorialTopic='{{ requesterTutorialTopic}}'
   requesterTutorialFormats='{{ requesterTutorialFormats}}'
   requesterLevelOfDetail='{{ requesterLevelOfDetail}}'
   desiredskill = '{{desiredskill}}'
   sampletutuorial='{{sampletutuorial}}'
   alreadyknowninformation= '{{alreadyknowninformation}}'
   requesterComments='{{requesterComments}}'
}
function fillContent() {
    readinputarguments();
   
   
    document.getElementById('assignmentId').value  =assignmentIdVar;
    document.getElementById('hitId').value  =hitIdVar; 
    document.getElementById('workerId').value  =workerIdVar;
    document.getElementById('turkSubmitTo').value  =turkSubmitToVar;
	document.getElementById('taskId').value  =taskId;

	
	document.getElementById('requesterTutorialTopicLabel').innerHTML  =requesterTutorialTopic; 
    document.getElementById('requesterTutorialFormatsLabel').innerHTML  =requesterTutorialFormats;
    document.getElementById('requesterLevelOfDetailLabel').innerHTML  =requesterLevelOfDetail;
	 
	document.getElementById('desiredskillLabel').innerHTML  =desiredskill; 
    document.getElementById('alreadyknowninformationLabel').innerHTML  =alreadyknowninformation;
    document.getElementById('sampletutorialLabel').innerHTML  =sampletutuorial;
	document.getElementById('requestercommentLabel').innerHTML  =requesterComments;
	
	if(assignmentIdVar== 'ASSIGNMENT_ID_NOT_AVAILABLE'){
		document.getElementById("submitButtonId").disabled = true;
		document.getElementById("titileelementid").disabled = true;
		document.getElementById("urlId").disabled = true;
		document.getElementById("contentId").disabled = true;
		document.getElementById("commentid").disabled = true;
	    document.getElementById("Notice").style.display = 'block';
	}
	else{
		document.getElementById("Notice").style.display = 'none';
	}

    document.getElementById("myForm").action=turkSubmitToVar+"/mturk/externalSubmit"
	
}
</script>
</body>
</html>

