<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Worker_Interface</title>
  <link rel= "stylesheet" type= "text/css" href= "../static/mystyle_3.css" /> 
</head>
<body onload="fillContent()">
 <form  method="POST" id ="myForm" onsubmit="getaction()">
<div >
   <table style="width:100%">
	<tr>
		<td  colspan="2" width="100%">
			<div id="header">
			  <h1> Choose The Best Tutorials</h1>
			  
			</div>
		</td>
	</tr>
	<tr>
		<td  colspan="2" width="100%">
	<div id="Notice"><h1>You must accept this hit to be able to work on its elements</h1></div>
	</td>
	</tr>
    
  <tr>
		<td  colspan="1" width="50%" >
          <h2>Tutorials are listed here</h2>
          {% for tutorial in tutorials %}
		  <h3>----------------------</h3>
		    Title: {{tutorial.title}}<br>
			Content: {{tutorial.content}}<br>
          {% endfor %}
		</td>
		<td  colspan="1" width="50%" bgcolor="#F0F0F0" >
	
			<div>
			<h2>Tutorial Requirements</h2>
			  <h3>Required tutorial topic</h3>
			  <label  id="requesterTutorialTopicLabel"></label><br>
			  <h3>Required tutorial formats</h3>
			  <label  id="requesterTutorialFormatsLabel"></label><br>
			   <h3>Required level of detail</h3>
			  <label  id="requesterLevelOfDetailLabel"></label><br>
			    <h3>Desired skill to be acquired</h3>
			  <label  id="desiredskillLabel"></label>
			  <h3>Already known information</h3>
			  <label  id="alreadyknowninformationLabel"></label>
			  <h3>Sample tutorial</h3>
			  <label  id="sampletutorialLabel"></label>
			  <h3>Comment</h3>
			  <label  id="requestercommentLabel"></label>
			</div>
		</td>
		</tr>
		<tr>
			<td  colspan="2" width="100%" bgcolor="#CCFFFF">
			   <div id="submit">
					<br><h3>Choose the best two tutorials</h3><br>
				   <p>
				    Please type in the tutorial titles</br>
				    <input type="text" name="vote1" value="1" id="tutorialinput1"></br>
				    <input type="text" name="vote2" value="2" id="tutorialinput2"></br>
				    <input type="submit"  name="button" value="Submit" id ="submitButtonId" >
				    </p>
					
				</div>
			</td>
		</tr>
   
  </table>  

      
</div>
	<input type="hidden" name="assignmentId" id="assignmentId"/>
	<input type="hidden" name="hitId" id="hitId"/>
	<input type="hidden" name="workerId" id="workerId"/>
	<input type="hidden" name="turkSubmitTo" id="turkSubmitTo"/>
	<input type="hidden" name="taskId" id="taskId"/>
 </form>
 <script>
 
  var formAction="https://workersandbox.mturk.com/mturk/externalSubmit";
  var assignmentIdVar='ASSIGNMENT_ID_NOT_AVAILABLE';
  var hitIdVar="hitId";
  var workerIdVar="workerId";
  var turkSubmitToVar="turkSubmitTo";
  var requesterTutorialTopic='This is a sample requester tutorial information';
  var requesterTutorialFormats='url, video, aduio';
  var requesterLevelOfDetail='Beginner';
  var desiredskill='sample desiredskill';
  var alreadyknowninformation='sample alreadyknowninformation';
  var sampletutuorial='sample sampletutuorial';
  var requesterComments='sample requester comments';
  var taskId="";
  
function getaction(){
   document.getElementById("submitButtonId").disabled = true;
}
function readinputarguments(){
   formAction='{{ formsubmiturl}}';
   assignmentIdVar='{{ assignmentId}}';
   hitIdVar='{{ hitId}}';
   workerIdVar='{{ workerId}}';
   taskId='{{taskId}}';
   turkSubmitToVar='{{ turkSubmitTo}}';
   requesterTutorialTopic='{{ requesterTutorialTopic}}'
   requesterTutorialFormats='{{ requesterTutorialFormats}}'
   requesterLevelOfDetail='{{ requesterLevelOfDetail}}'
   desiredskill = '{{desiredskill}}'
   alreadyknowninformation= '{{alreadyknowninformation}}'
   sampletutuorial='{{sampletutuorial}}'
   requesterComments='{{requesterComments}}'
}
function fillContent() {
    readinputarguments();
   
    document.getElementById('assignmentId').value  =assignmentIdVar;
    document.getElementById('hitId').value  =hitIdVar; 
    document.getElementById('workerId').value  =workerIdVar;
    document.getElementById('turkSubmitTo').value  =turkSubmitToVar;
    document.getElementById('taskId').value  =taskId;
	
	document.getElementById('requesterTutorialTopicLabel').innerHTML  =requesterTutorialTopic; 
    document.getElementById('requesterTutorialFormatsLabel').innerHTML  =requesterTutorialFormats;
    document.getElementById('requesterLevelOfDetailLabel').innerHTML  =requesterLevelOfDetail;
	
	document.getElementById('desiredskillLabel').innerHTML  =desiredskill; 
    document.getElementById('alreadyknowninformationLabel').innerHTML  =alreadyknowninformation;
    document.getElementById('sampletutorialLabel').innerHTML  =sampletutuorial;
	document.getElementById('requestercommentLabel').innerHTML  =requesterComments;
	 
	if(assignmentIdVar== 'ASSIGNMENT_ID_NOT_AVAILABLE'){
		document.getElementById("submitButtonId").disabled = true;
	    document.getElementById("Notice").style.display = 'block';
	}
	else{
		document.getElementById("Notice").style.display = 'none';
	}

	document.getElementById("myForm").action=formAction;
	
}
</script>
</body>
</html>

