<!DOCTYPE html>
<html lang="en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery-2.1.3.min.js') }}">\x3C/script>')</script>
<script type=text/javascript>
 
 var root = window.location.protocol + '//' + window.location.host;
</script>
<head>
  <meta charset="utf-8">
  <title>Worker_Interface</title>
	<style>
	div#content{margin-left:auto;margin-right:auto;width:900px;}
	div#header {background-color:#6cf;height:40px;text-align:center;}
	   h1 {text-align:center}
	div#input {float:left;width:500px;height:500px;background:#cff;}

	div#table {float:left;background-color:#cff;height:300px;width:500px;}
	 

	div#submit{float:center;text-align:center}

	div#requester {float:right;width:400px;height:500px; background:yellow;}
	h1, h2          { font-family: 'Georgia', serif; margin: 0; }
	h1              { border-bottom: 2px solid #eee; }
	h3              { font-family: 'Georgia';color:red;}
	td {
		vertical-align: top;
	}
	 * {
		  font-family: sans-serif;
		}
	</style>
</head>
<body onload="fillContent()">
 <form  method="POST" id ="myForm" onsubmit="getaction(this)">
<div >
   <table style="width:100%">
	<tr>
		<td  colspan="2" width="100%">
			<div id="header">
			  <h1> Choose The Best Tutorials</h1>
			  
			</div>
		</td>
	</tr>
	<tr>
		<td  colspan="2" width="100%">
	<div id="Notice"><h1>You must accept this hit to be able to work on its elements</h1></div>
	<div style="width:600px;margin-left:auto;margin-right:auto;padding:12px;border:1px solid black"> This HIT is part of a class project
	at Purdue University by Ziheng Liu,Weichang Tang and Ahmed R.Mahmood.&nbsp;Feel free to email us at <a href="mailto:liu1550@purdue.edu">
	liu1550@purdue.edu</a> with any questions or concerns.&nbsp; In case you run into any bugs in our system, we will make sure that you are
	paid.</div>
	</td>
	</tr>
    
  <tr>
		<td  colspan="1" width="50%" >
          <h2>Tutorials are listed here</h2>
          {% for tutorial in tutorials %}
		    No.{{tutorial.id}}<br>
		    Title: {{tutorial.title}}<br>
			Content: {{tutorial.content}}<br>
          {% endfor %}
		</td>
		<td  colspan="1" width="50%" bgcolor="#F0F0F0" >
	
			<div>
			<h2>Tutorial Requirements</h2>
			  <h3>Required tutorial topic</h3>
			  <label  id="requesterTutorialTopicLabel"></label><br>
			  <h3>Required tutorial formats</h3>
			  <label  id="requesterTutorialFormatsLabel"></label><br>
			   <h3>Required level of detail</h3>
			  <label  id="requesterLevelOfDetailLabel"></label><br>
			    <h3>Desired skill to be acquired</h3>
			  <label  id="desiredskillLabel"></label>
			  <h3>Already known information</h3>
			  <label  id="alreadyknowninformationLabel"></label>
			  <h3>Sample tutorial</h3>
			  <label  id="sampletutorialLabel"></label>
			  <h3>Comment</h3>
			  <label  id="requestercommentLabel"></label>
			</div>
		</td>
		</tr>
		<tr>
			<td  colspan="2" width="100%" bgcolor="#CCFFFF">
			   <div id="submit">
					<br><h3>Choose the best two tutorials</h3><br>
				    (choose the same one if there are only one option)<h3><br>  
				    1:<select name="vote1" id="tutorialinput1"></select></br>
				    2:<select name="vote2" id="tutorialinput2"></select></br>
				    <input type="submit"  name="button" value="Submit" id ="submitButtonId" >
				    </p>
					{% for tutorial in tutorials %}
						<script>
						   selectItem1 = document.getElementById('tutorialinput1');
						   selectItem2 = document.getElementById('tutorialinput2');
						   selectItem1.options[selectItem1.options.length] = new Option('{{tutorial.title}}');
						   selectItem2.options[selectItem2.options.length] = new Option('{{tutorial.title}}');
						</script>
					{% endfor %}
				</div>
			</td>
		</tr>
   
  </table>  

      
</div>
	<input type="hidden" name="assignmentId" id="assignmentId"/>
	<input type="hidden" name="hitId" id="hitId"/>
	<input type="hidden" name="workerId" id="workerId"/>
	<input type="hidden" name="turkSubmitTo" id="turkSubmitTo"/>
	<input type="hidden" name="taskId" id="taskId"/>
 </form>
 <script> 
  var urlprefix="06";
  var formAction="https://workersandbox.mturk.com/mturk/externalSubmit";
  var assignmentIdVar='ASSIGNMENT_ID_NOT_AVAILABLE';
  var hitIdVar="hitId";
  var workerIdVar="workerId";
  var turkSubmitToVar="turkSubmitTo";
  var requesterTutorialTopic='This is a sample requester tutorial information';
  var requesterTutorialFormats='url, video, aduio';
  var requesterLevelOfDetail='Beginner';
  var desiredskill='sample desiredskill';
  var alreadyknowninformation='sample alreadyknowninformation';
  var sampletutuorial='sample sampletutuorial';
  var requesterComments='sample requester comments';
  var taskId="";
  var tutorials="";
 

function readinputarguments(){
   formAction='{{ formsubmiturl}}';
   assignmentIdVar='{{ assignmentId}}';
   hitIdVar='{{ hitId}}';
   workerIdVar='{{ workerId}}';
   taskId='{{taskId}}';
   turkSubmitToVar='{{ turkSubmitTo}}';
   requesterTutorialTopic='{{ requesterTutorialTopic}}'
   requesterTutorialFormats='{{ requesterTutorialFormats}}'
   requesterLevelOfDetail='{{ requesterLevelOfDetail}}'
   desiredskill = '{{desiredskill}}'
   alreadyknowninformation= '{{alreadyknowninformation}}'
   sampletutuorial='{{sampletutuorial}}'
   requesterComments='{{requesterComments}}'
   tutorials='{{tutorials}}'
  
  
}

function getaction(form){
    document.getElementById("submitButtonId").disabled = true;
	jQuery.ajax("/"+urlprefix+"/tutorialvoting/",{
			type: "GET",
			data: $('form').serialize(),
			success: function(data) {
			//alert(data.result);
		    },
			error: function(){
			alert('error');
			$("#myform").submit();
			},
	});
  // form.action=formAction;
   
}

function fillContent() {
    readinputarguments();
   
    document.getElementById('assignmentId').value  =assignmentIdVar;
    document.getElementById('hitId').value  =hitIdVar; 
    document.getElementById('workerId').value  =workerIdVar;
    document.getElementById('turkSubmitTo').value  =turkSubmitToVar;
    document.getElementById('taskId').value  =taskId;
	
	document.getElementById('requesterTutorialTopicLabel').innerHTML  =requesterTutorialTopic; 
    document.getElementById('requesterTutorialFormatsLabel').innerHTML  =requesterTutorialFormats;
    document.getElementById('requesterLevelOfDetailLabel').innerHTML  =requesterLevelOfDetail;
	
	document.getElementById('desiredskillLabel').innerHTML  =desiredskill; 
    document.getElementById('alreadyknowninformationLabel').innerHTML  =alreadyknowninformation;
    document.getElementById('sampletutorialLabel').innerHTML  =sampletutuorial;
	document.getElementById('requestercommentLabel').innerHTML  =requesterComments;
	 
	if(assignmentIdVar== 'ASSIGNMENT_ID_NOT_AVAILABLE'){
		document.getElementById("submitButtonId").disabled = true;
	    document.getElementById("Notice").style.display = 'block';
	}
	else{
		document.getElementById("Notice").style.display = 'none';
	}

	document.getElementById("myForm").action= turkSubmitToVar+ "/mturk/externalSubmit";
	

	
	
	
}
</script>
</body>
</html>

